JWT_SECRET=FAS6F7ASF6AS6FA7S6FAS7F6ASF6AS7F
JWT_EXPIRES_TIME=7d
PORT=3000
APP_BASE_URL=http://localhost:3000
NODE_ENV=development
API_PREFIX=api
# 7 days
COOKIE_EXPIRES_TIME=7

DB_URL=mongodb://0.0.0.0:27017/travel_tracker

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=softech.lhr@gmail.com
MAIL_PASSWORD=pmspixgdeqhqhrtj
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@traveltracker.com
MAIL_FROM_NAME=Travel Tracker

STRIPE_API_KEY=sk_test_51OZ6Q3JAx96otuOjdMbKDYr4OqHF9dJn8eezcL9G2FrxgnGU5pBmjGQNhYeEBmhOmsM9zLv5N64EYEvSIys6P2Ai00947v2vrP
STRIPE_END_POINT_SECRET=